
.mane-page{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-family: "Josefin Sans", sans-serif;
    color: steelblue;
    margin-bottom: 30px;
}
img{
    border: 1px solid;
    color: steelblue;
}
.mypic{
  float:right
}
#profile{
    text-align: center;
}
#contact-information{
    text-align: center;
}
.contacts{
    width: 100%;
    text-align:  center;
}
.contacts_centr{
    display: inline-block;
    color: steelblue;
    list-style-type: circle;
}

    li{
    text-align: left;
}
.my_skills, .my_courses, .my_languages{
  list-style-type: circle;
}

hr{
    margin-top: 30px;
    border: none;
    color:steelblue;
    background-color: steelblue;
    height:2px;
}
h2{
    font-family: "Josefin Sans", sans-serif;
    color: steelblue;
    background-color: lightblue;
    border-radius: 10px;
}
h4{
    font-family: "Josefin Sans", sans-serif;
    color: steelblue;
}
a{
    text-decoration: none;
    color:lightsteelblue;
}
*{
    box-sizing:border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
        }
  html {
    scroll-behavior: smooth; 
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
  }
  .nav-link {
    transition: .3s;
  }
  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
      }
  
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  body{
    background-color: lavender;
  }
#about-me{
  text-align: justify;
  width: 100%;
}
#education{
  margin-top: 55px;
}
.university{
  font-size: 20px;
}
#languages{
  margin-top: 40px;
}